<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ Header }}!
  </h1>
  <img (click)="notification()" width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Her er der muligheder</h2>
<div class="grid">
  <div class="gridItem">
    <h2>Åben hjemmeside</h2>
    <input [(ngModel)]="URL">
    <button (click)="openSite()">Åben hjemmeside</button>
  </div>
  <div class="gridItem">
      <h2>Luk program</h2>
      <input #ProgramName>
      <button (click)="killApplication(ProgramName); ">Luk program</button>
    </div>

  <div class="gridItem">
    <h2>Notification</h2>
    <input placeholder="Title" #title><br>
    <textarea #message placeholder="Message"></textarea><br>
     Sound <input type="checkbox" #Sounds><br>
     Time MS <input type="number" #Time><br>
     Wait <input type="checkbox" #Wait><br>
     Type <select #Type>
      <option value="info">Info</option>
      <option value="warn">Warning</option>
      <option value="error">Error</option>
     </select>
     <button (click)="notification(title.value,message.value,Sounds.value,Time.value,Wait.value,Type.value)">Send notifikation</button>
  </div>
  <div class="gridItem">
      <h2>Snak</h2>
      <input #Speach>
      <button (click)="say(Speach); ">Luk program</button>
    </div>
    <div class="gridItem">
        <h2>Sluk computer</h2>
        <button (click)="powerOff()">Sluk computer</button>
      </div>
      <div class="gridItem">
          <h2>Ændre lyd niveau</h2>
          <input type="range" min="0" max="100" step="10" #Volume>
          {{Volume.value}}
          <button (click)="changeVolume(Volume.value)">Ændre lyd</button>
        </div>
  <div class="gridItem">2</div>
  <div class="gridItem">2</div>
  <div class="gridItem">2</div>
  <div class="gridItem">2</div>
</div>
<ul>
  <p>URL som der skal åbnes på pcen</p>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

